.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
    justify-content: flex-start;
    background: rgba( 255, 255, 255, 0.00 );
backdrop-filter: blur( 0.0px );
-webkit-backdrop-filter: blur( 0.0px );
margin-left: -1rem;
}

.dropdown-toggle::after {
    display: none;

}

.nav-link {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    display: inline-block;
    margin: 0.25rem 0.75rem;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.dropdown-menu.show {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin-top: -5rem;
    margin-left: -5rem;
    padding-top: 5.5rem;
    text-align: center;
    z-index: -1;
    background-color: tomato;
}

.dropdown-item {
    margin-top: 1rem;
    color: white;
  
}

.dropdown-item:focus, .dropdown-item:hover {
    color: black;
    background-color: transparent;
}

.navbar{
    z-index: 900;
}
