#red {
    background-color: tomato;
    padding: 10rem;
    height: 100vh;
}

#red-button{
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    align-self: flex-end;
    background-color: transparent;
    margin-left: -20rem;
    margin-top: 11rem;
}

.speakers {
    height: 15rem;
    width: 10rem;
}

#img-speaker {
display: flex;
align-self: flex-end;
height: 10rem;
width: 10rem;
}

#speaker-first {
    margin-top: -5rem;
}

#red-demo {
    margin-left: -13rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 2em;
}